{% load static %}
<link rel="stylesheet" href="{% static 'css/card_style.css' %}">

<div class="card-container">
  <!-- Card 1 -->
  <div class="card">
    <div class="top"></div>
    <!-- <img src="{% static 'img/socios/ailson_card.png' %}" alt="Profile" class="profile"> -->
    <img src="{% static 'img/team/ailson.png' %}" alt="Profile" class="profile">
    <div class="title">Ailson Gomes</div>
    <div class="subtitle">CEO</div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/ailson-gomes-de-oliveira-6a84b5247/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/AilsonETE" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
      </a>
      <a href="mailto:ailson@softpop.com.br" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email">
      </a>
      <a href="https://www.instagram.com/ailson__gomes/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
      </a>
    </div><br>
    
    <a href="{% url 'ailson_team' %}">
      <button class="message-btn">saiba mais</button>
    </a>
  </div>

  <!-- Card 2 -->
  <div class="card">
    <div class="top"></div>
    <!-- <img src="{% static 'img/socios/adjailson_card.png' %}" alt="Profile" class="profile"> -->
    <img src="{% static 'img/team/adjailson.png' %}" alt="Profile" class="profile">
    <div class="title">Adjailson</div>
    <div class="subtitle">Engenheiro de Hardware</div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/adjailson-ferreira-de-melo-317918227/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/Adjailson" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
      </a>
      <a href="mailto:afm4@ecomp.poli.br" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email">
      </a>
      <a href="https://www.instagram.com/adjaylson.ferreira/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
      </a>
    </div><br>
    
    <a href="{% url 'adjailson_team' %}">
      <button class="message-btn">saiba mais</button>
    </a>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <div class="top"></div>
    <!-- <img src="{% static 'img/socios/daniel_card.png' %}" alt="Profile" class="profile"> -->
    <img src="{% static 'img/team/daniel.png' %}" alt="Profile" class="profile">
    <div class="title">Daniel Alves</div>
    <div class="subtitle">Engenheiro de Segurança</div>

    <div class="icons">
      <a href="https://www.linkedin.com/in/danielguspe/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/danielperitofd" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
      </a>
      <a href="mailto:danielperitofd@gmail.com">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email">
      </a>
      <a href="https://www.instagram.com/danielguspe/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
      </a>
    </div><br>

    <a href="{% url 'daniel_team' %}">
      <button class="message-btn">saiba mais</button>
    </a>
  </div>

  <!-- Card 4 -->
  <div class="card">
    <div class="top"></div>
    <!-- <img src="{% static 'img/socios/vanth_card.png' %}" alt="Profile" class="profile"> -->
    <img src="{% static 'img/team/vantuir.png' %}" alt="Profile" class="profile">
    <div class="title">Vanthuir Maia</div>
    <div class="subtitle">Gerente de Projetos</div>
    <div class="icons">
      <a href="https://www.linkedin.com/in/vanthuir-maia-47767810b/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/VanthuirMaia/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
      </a>
      <a href="mailto:vanmaiasf@gmail.com" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="Email">
      </a>
      <a href="https://www.instagram.com/vanthuirmaia/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
      </a>
    </div><br>
    
    <a href="{% url 'vanthuir_team' %}">
      <button class="message-btn">saiba mais</button>
    </a>
  </div>
</div>
</body>
</html>
