{% extends 'base.html' %}
{% block main %}

{% load static %}

  <link rel="stylesheet" href="{% static 'css/contato_style.css' %}">

    <div class="container">
        <div class="sucesso-wrapper">
          <div class="titulo">
            <svg class="icone-check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 13l4 4L19 7" />
            </svg>
            <h1>Mensagem <span>ENVIADA</span></h1>
          </div>
          <div class="mensagem">
            <h2>Obrigado pelo contato!</h2>
            <p>Agradecemos sua mensagem. Em breve entraremos em contato com você.</p>
          </div>
        </div>
      </div>

{% endblock %}      
