{% extends 'base.html' %}

{% load static %}
{% block main %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
<link rel="stylesheet" href="{% static 'css/sec2_cards_style.css' %}">

<div class="cardsec1-container">
    <div class="cardsec1-photo">
        <img src="{% static 'img/cardshome/parceiros.jpg' %}" alt="Foto de Daniel Alves" class="cardsec1-img">
    </div>
    <div class="cardsec1-content">
        <h1 class="cardsec1-name">NOSSOS PARCEIROS</h1>
        <p class="cardsec1-subtitle">Quem caminha com a gente?</p>
        <p class="cardsec1-bio">
            A MiRoute conta com o apoio de instituições educacionais, laticínios parceiros e hubs de inovação voltados ao agronegócio. Entre nossos principais aliados estão faculdades técnicas, aceleradoras de startups e cooperativas leiteiras que acreditam na transformação do campo através da tecnologia. Estamos sempre abertos a novas parcerias que compartilhem nossa visão de qualidade e sustentabilidade.
        </p>
    </div>
</div>
<section class="parceiros-galeria-container">
    <h1 class="parceiros-titulo">QUEM SÃO ELES?</h1>
    
    <div class="parceiros-galeria">
        <img src="{% static 'img/parceiros/parc1.png' %}" alt="Parceiro 1" class="parceiros-img">
        <img src="{% static 'img/parceiros/parc2.png' %}" alt="Parceiro 2" class="parceiros-img">
        <img src="{% static 'img/parceiros/parc3.png' %}" alt="Parceiro 3" class="parceiros-img">
        <img src="{% static 'img/parceiros/parc4.png' %}" alt="Parceiro 4" class="parceiros-img">
    </div>
</section>
{% endblock %}
